.events{
    margin-left: 4rem;
}

.event{
    margin-bottom: 2px;
}

.button_delete{
    margin-left: auto;
    background-color: red;
    margin-bottom: 4rem;
}

.button_join{
    margin-left: auto;
    background-color: green;
    margin-bottom: 4rem;
}

.button_leave{
    margin-left: auto;
    background-color: purple;
    margin-bottom: 4rem;
}